<!DOCTYPE html>
<html>
	<head>
		
		<title>Addcategory</title>
	</head>
	<body>
		<div class="Addcategory">
			<h1>login</h1>
				</div>
			<form action="{{ url_for('insertcategory') }}"method="post">
				<label for="Addcategory">
				</label>
				<input type="text" name="categoryname" placeholder="categoryname" id="Addcategory" required>
				</label>
				<input type="text" name="categorydescription" placeholder="categorydescription" id="Addcategory" required>
				
				<input type="submit" value="Addcategory">
				<input type="Reset"value="Cancel"
	    	</form>
		</div>
	</body>
</html>