<!DOCTYPE html>
<html>
  <head>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>Welcome to categories!</h2>
      <br>
     <table id="categories">
      <tr>
        <th>Category Name</th>
        <th>Description</th>
      </tr>
      {% for row in rows %}
    <tr>
        <td>{{ row.name}}</a></td>
        <td>{{ row.description}}</td>
        
    </tr>
    {% endfor %}
     </table>
    </div>
  </body>
</html>
