<!DOCTYPE html>
<html>
  <head>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Categories Management!</h2>
        <input type="submit" id="edit_button" value="Add Category" class="edit" style="float: right;">
        

      <br>
     <table id="categories">
      <tr>
        <th>Category Name</th>
        <th>Description</th>
        <th>Edit/Delete</th>
      </tr>
      {% for row in rows %}
    <tr>
      <td><a href="#">{{ row.name}}</a></td>
      <td>{{ row.description}}</td>
      <td>
        <input type="button" id="edit_button" value="Edit" class="edit">
        <input type="button" id="delete_button" value="Delete"> 

      </td>
        
    </tr>
    {% endfor %}
     </table>
    </div>
  </body>
</html>
